[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "==0.17.0"
annotated-types = "==0.6.0"
anyio = "==4.3.0"
boto3 = "==1.34.65"
botocore = "==1.34.65"
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
exceptiongroup = "==1.2.0"
fastapi = "==0.110.0"
h11 = "==0.14.0"
httptools = "==0.6.1"
idna = "==3.6"
iso8601 = "==1.1.0"
jmespath = "==1.0.1"
pydantic = "==2.6.4"
pydantic-core = "==2.16.3"
pypika-tortoise = "==0.1.6"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
pyyaml = "==6.0.1"
requests = "==2.31.0"
s3transfer = "==0.10.1"
six = "==1.16.0"
sniffio = "==1.3.1"
starlette = "==0.36.3"
tortoise-orm = "==0.20.0"
typing-extensions = "==4.10.0"
urllib3 = "==2.2.1"
uvicorn = "==0.28.0"
uvloop = "==0.19.0"
watchfiles = "==0.21.0"
websockets = "==12.0"
mangum = "*"
asyncpg = "*"
chardet = "*"
pandas = "*"
python-multipart = "*"
passlib = "*"
fastapi-mail = "*"
bcrypt = "*"
pyjwt = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.10"
